@import "variables"
@import "mixins"


body
  background: $bg
  @include bg-image("imgs/1.png", no-repeat)
ul
  text-align: center
  li
    float: right
    @include padding
    @include border(1px solid rgba(0,0,0 +1,1))
    a
      font:
        size: $font-size / 2
        family: $font1
      color: $color1 + $color2
      text-decoration: none
      &:hover
        text:
          decoration: underline
