@import "variables"
@import "mixins"
@import "function"

@for $i from 1 to 3
  .for-to-#{$i}
    width: 100 * $i

@for $i from 1 through 3
  .for-through-#{$i}
    width: 100 * $i

$i: 0
@while ($i < 2)
  .while-#{$i}
    width: 100
  $i: $i + 1

@each $i in 1,2
  .each-#{$i}
    width: 100 * $i

@each $course, $color in (javaScript, yellow),(laravel, red)
  .#{$course}-icon
    background-image: url('/imgs/#{$course}.png')
    border: 2px solid $color

@each $header, $size in (h1: 2em, h2: 1.5em)
  #{$header}
    font-size: $size
