body {
  background: #b2bec3;
  background-image: "imgs/1.png";
  background-repeat: no-repeat;
  background-position: outo outo; }

ul {
  text-align: center; }
  ul li {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    -webkit-border: 1px solid black;
    -moz-border: 1px solid black;
    -ms-border: 1px solid black;
    border: 1px solid black; }
    ul li a {
      font-size: 20px;
      font-family: Tahoma, sans-serif;
      color: #fff;
      text-decoration: none; }
      ul li a:hover {
        text-decoration: underline; }
